<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/变量之局部变量/src/变量之局部变量/ParamsTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="变量之局部变量.ParamsTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="变量之局部变量"/>
</launchConfiguration>
